a {
    color: #5ea29e;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #325654;
    text-decoration: none;
    background-color: transparent;
}

p{
    text-align: center;
}
/********* navbar *************/
/* Create a sticky/fixed navbar */
#navbar {
    overflow: hidden;
    background-color: #325654;
    padding: 90px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
}
  
  /* Style the navbar links */
#navbar a {
    float: left;
    color: white;
    text-align: center;
    margin: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
}

#navbar div {
    display: inline-block;
    padding-right: 1%;
    padding-left: 1%;
}

#navbar #logo img {
    width: 20%;
}

#navbar #navbar-top {
    width: 100%;
}
#navbar #navbar-mid {
    padding: 20%;
    display: flex;
    justify-content: center;
}
#navbar #navbar-bottom {
    float: right;
}

#navbar #navbar-top{
    text-align: left;
}

#navbar #navbar-mid a{
    width: 115px;
    /* display: flex; */
    /* align-items: flex-end; */
}
#navbar-mid .illustration{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 5px solid aliceblue;
    /* background-color: aliceblue; */
    /* border: white; */
}

/* Style the logo */
#navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
}

/* Links on mouse-over */
#navbar a:hover {
    background-color: #5ea29e;
    color: whitesmoke;
}

/* Style the active/current link */
#navbar a.active {
    background-color: dodgerblue;
    color: white;
  }
  
/* Display some links to the right */
#navbar-right {
    float: right;
}


/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
    #navbar {
        padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-right {
      float: none;
    }
    #navbar #navbar-mid a div{
        width: 50px;
        height: 50px;
        background-color: aliceblue;
        border: white;
    
    }
    
}

#content {
    align-content: center;
    margin-top: 50%;
    padding: 15px 15px 2500px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.square { 
    margin: 10px;
    width: 500px;
    height: 500px;
    border: #325654 solid 3px;
}

div.squares{
    overflow: auto;
    white-space: nowrap;
}

.squares {

border: #fa0000 solid 3px;

display: flex;
}


footer {
    text-align: center;
    padding: 3px;
    background-color: #325654;
    color: white;
  }


footer a:hover {
    color: #d8fffc;
    text-decoration: none;
    background-color: transparent;
}
